{% extends "layout.html" %}

{% block page_title %}
    Birthday actors
{% endblock %}

{% block breadcrumbs %}
    <span class="separator">></span>
    <a href="#">Birthday actors</a>
{% endblock %}

{% block content %}
    <div class="card text-center">
        {% for actor in actors %}
            <div class="tooltip">{{ actor.name }}
                <span class="tooltiptext {{ 'green' if actor.day | int % 2 == 0 else 'gray' }}">{{ actor.birthday }}</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}