{% extends 'layout.html' %}
{% block breadcrumbs %}
    <span class="separator">&gt;</span>
    <a href="{{ url_for('all_shows') }}">Shows</a>
    <span class="separator">&gt;</span>
    <a>{{ show['title'] }}</a>
{% endblock %}
{% block content %}
    <div class="card detailed-view">
        <p>Details:</p>
        <div class="row">
            <div data-show-title="{{ show['title'] }}" class="poster col col-third">
                <div class="loader"></div>
            </div>
            <div class="col col-twothird">
                <h2>{{ show['title'] }}<span class="separator"> </span>{{ show['rating'] }} ★</h2>
                <p class="small grayed">{{ show['runtime']|convert_runtime }}<span class="separator">|</span>{{ show['genres'] }}</p>
                <p>{{ show['overview']}}</p>
            </div>
        </div>
        <div>
            <p>
                {% if show['stars'] %}
                <b>Stars:</b>
                    {% for index in range(show['stars'].split(',')|length) %}
                        {% if index == (show['stars'].split(',')|length)-1 %}
                            <a href="#">{{ show['stars'].split(',')[index] }}</a>
                        {% else %}
                            <a href="#">{{ show['stars'].split(',')[index] }}</a>,
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="card row">
        <div class="row">
            <div class="col col-twothird">
                <p>Seasons:</p>
                <table>
                    <thead>
                    <tr>
                        <th> </th>
                        <th>Title</th>
                        <th>Overview</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for season in seasons %}
                        <tr>
                            <td>{{ season.season_number }}</td>
                            <td>{{ season.title }}</td>
                            <td>{{ season.overview }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if show['trailer'] != 'No URL' %}
                <div class="col col-third">
                    <p>Trailer: </p>
                    <div id="player" class="trailer" data-video-id="{{ show['trailer'] | get_video_id }}"></div>
                    <script src="{{ url_for('static', filename='js/embed-youtube.js') }}" defer></script>
                </div>
            {% endif %}
        </div>
    </div>

    <script>displayShowPoster()</script>
{% endblock %}