{% extends 'layout.html' %}

{% block site_specific_head %}
    <script type="module" src="{{ url_for('static', filename='js/filter.js') }}"></script>
{% endblock %}

{% block page_title %}
    Filter actors
{% endblock %}

{% block breadcrumbs %}
    <span class="separator">></span>
    <a href="#">Filter actors</a>
{% endblock %}

{% block content %}
    <div class="card row">
        <div class="col col-third">
            <label for="genre" class="form-element-label">Choose a genre: </label>
            <select name="genre" id="genre" form="genre-form">
                {% for genre in genres %}
                    <option value="{{ genre.id }}">{{ genre.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col col-third">
            <label for="name" class="form-element-label">Filter by name: </label>
            <input type="text" id="name" name="name">
        </div>
    </div>
    <div class="card">
        <table>
            <tr>
                <th>Name</th>
            </tr>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}