{% extends 'layout.html' %}

{% block page_title %}Top-rated shows{% endblock %}

{% block content %}
    <div class="card">
        Top-rated shows:
        <table>
            <thead>
            <tr>
                {% for key in shows[0] %}
                    {% if key != 'id' %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for show in shows %}
                <tr>
                    {% for key, value in show.items() %}
                        {% if key != 'id' %}
                            {% if key in ['trailer', 'homepage'] and value != 'No URL' %}
                                <td><a>{{ value }}</a></td>
                            {% elif key == 'title' %}
                                <td><a href="{{ url_for('get_show', show_id=show.id) }}">{{ value }}</a></td>
                            {% elif value == 'No URL' %}
                                <td>{{ value }}</td>
                            {% else %}
                                <td class="text-center">{{ value }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h3 class="title text-center"><a><<</a> <a>1</a> <a>2</a> <a>3</a> <a>4</a> <a>5</a> <a>>></a></h3>
{% endblock %}