{% extends 'layout.html' %}
{% block breadcrumbs %}
    <span class="separator">></span>
    <a href="{{ url_for('all_shows') }}">Shows</a>
    <span class="separator">&gt;</span>
    <a>Top-rated</a>
{% endblock %}
{% block page_title %}Top-rated shows{% endblock %}

{% block content %}
    <div class="card">
        Top-rated shows:
        <table>
            <thead>
            <tr>
                {% for key in shows[0] %}
                    {% if key != 'id' %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for show in shows %}
                <tr>
                    {% for key, value in show.items() %}
                        {% if key != 'id' %}
                            {% if key in ['trailer', 'homepage'] and value != 'No URL' %}
                                <td><a>{{ value }}</a></td>
                            {% elif key == 'title' %}
                                <td><a href="{{ url_for('get_show', show_id=show.id) }}">{{ value }}</a></td>
                            {% elif value == 'No URL' %}
                                <td>{{ value }}</td>
                            {% else %}
                                <td class="text-center">{{ value }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination text-center">
        <script>
            console.log('hello! current page is:', {{ current_page }})
            createPagination({{ current_page }}, {{ page_count }}, 'top_rated')
            console.log('yay!')
        </script>
{#        <a href="{{ url_for('top_rated', page=current_page-1) }}">«</a>#}
{#        {% for page_number in range(1, page_count) %}#}
{#        <a href="{{ url_for('top_rated', page=page_number) }}">{{ page_number }}</a>#}
{#        {% endfor %}#}
{#        <a href="{{ url_for('top_rated', page=current_page+1) }}">»</a>#}
    </div>

{% endblock %}