{% extends 'layout.html' %}

{% block page_title %}Top-rated shows{% endblock %}

{% block content %}
    <div class="card">
        Top-rated shows:
        <table>
            <thead>
                <tr>
                    {% for key in shows[0] %}
                        {% if key != 'id' %}
                            <th>{{ key }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for show in shows %}
                <tr>
                    {% for key, value in show.items() %}
                        {% if key != 'id' %}
                            {% if key in ['trailer', 'homepage'] and value != 'No URL' %}
                                <td><a>{{ value }}</a></td>
                            {% else if key == 'title' %}
                                <td><a href="{{ url_for('show', show_id=show.id) }}">{{ value }}</a></td>
                            {% else %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}