{% extends 'layout.html' %}


{% block page_title %}
    Ordered shows
{% endblock %}

{% block breadcrumbs %}
    <span class="separator">></span>
    <a>Ordered shows</a>
{% endblock %}

{% block content %}
    <div class="card">
        <table class="text-center">
            <tr>
                <th><a href="{{ url_for('ordered_shows', order=direction|flip_direction) }}">Title</a></th><th>Rating</th>
            </tr>
            <tbody>
            {% for show in shows %}
                <tr>
                    <td>{{ show.title }}</td><td>{{ (show.rating | int) * ' * ' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}